body {
    font: 16px/1.4 Arial;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px); */
    grid-template: repeat(3, 300px)/repeat(3, 1fr);
    /* grid-column-gap: 20px;
    grid-row-gap: 40px; */
    grid-gap: 30px 25px;
    border: 2px solid;
}
