body {
    font: 16px/1.4 Arial;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    height: 500px;
    display: grid;
    grid-template: 
        'a . . . .' 100px
        '. . . c c' 100px
        'b b . c c' 100px
        / 100px 100px 100px 100px 100px;
    /* justify-content: space-around;
    align-content: space-around; */
    place-content: space-around end; /*выравнивание полос сетки относительно контейнера*/
    /* justify-items: center; 
    align-items: center; */ /*выравнивание содержимого внутри области*/
    /* place-items: start end; */
    border: 2px solid;
}

.item:nth-child(1) {
    grid-area: a;
}

.item:nth-child(2) {
    grid-area: b;
}

.item:nth-child(3) {
    grid-area: c;
    /* justify-self: center; 
    align-self: center; */
    place-self: start end; /*выравнивание содержимого для одного элемента*/
    
}
