body {
    font: 16px/1.4 Arial;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    display: grid;
    /* grid: repeat(3,100px)/repeat(4,1fr); */
    /* grid:
        '. . . .' 100px
        '. . . .' 100px
        '. . . .' 100px
        / 1fr 1fr 1fr 1fr; */
    /* grid: repeat(3,100px)/auto-flow dense 100px; */
    grid: auto-flow 300px/repeat(4, 1fr);
    grid-gap: 20px;
    border: 2px solid;
}



.container>.item:nth-child(2) {
    display: contents;
}

